:root {
  font-size: 14px;
  /* --app-font: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; */
  --app-font: 'Oswald', sans-serif;
  --playerboard-opacity: 0.5;
  --game-speed: 1;
}

body {
  font-family: var(--app-font);
  background-color: black;
  background-image: url('./images/crosshairs2.svg'),
    url('./images/battleship_background3.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 70%;
  background-position: 60% -20%, 70% -80%;
  background-blend-mode: normal;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

div#game-container {
  width: 98%;
  height: 96%;
  display: grid;
  gap: 24px;
  grid-template-areas:
    'ah ah hp hp hp hp hp hp ho ho ho ho'
    'ah ah mn mn mn mn mn mn se se se se'
    'ah ah mn mn mn mn mn mn se se se se'
    'ah ah mn mn mn mn mn mn se se se se'
    'ah ah mn mn mn mn mn mn se se se se'
    'ah ah mn mn mn mn mn mn se se se se'
    'ah ah mn mn mn mn mn mn as as as as'
    'ah ah mn mn mn mn mn mn as as as as';
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-rows: repeat(8, minmax(0, 1fr));
  position: relative;
  z-index: 10;
}

header#player {
  grid-area: hp;
  height: 0;
  min-height: 100%;
  width: 0;
  min-width: 100%;
}

header#opponent {
  grid-area: ho;
  height: 0;
  min-height: 100%;
  width: 0;
  min-width: 100%;
}

aside#health-container {
  grid-area: ah;
}

main {
  grid-area: mn;
}

section {
  grid-area: se;
}

aside#stats-container {
  grid-area: as;
  display: flex;
  justify-content: flex-end;
}

.backdrop.open {
  display: flex;
}

/* Heading styling */

header#player {
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1000;
}

header#opponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

header#opponent > :first-child {
  align-self: flex-end;
  font-size: 1rem;
  color: rgb(112, 112, 112);
  font-weight: normal;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

#model-credits {
  cursor: pointer;
  transition: 300ms;
}
#model-credits:hover {
  color: white;
}

#created-by-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-right: 1px solid rgb(112, 112, 112);
  padding-right: 8px;
  transition: 300ms;
}

#created-by-container img {
  width: 20px;
  height: 20px;
  filter: invert(0.6);
  transition: 300ms;
}

#created-by-container:hover img {
  filter: invert(1);
}

#created-by-container:hover {
  color: white;
}

header#opponent #opponent-board-heading {
  /* This is the header that reads "opponent status" */
  transition: 500ms;
  color: rgb(255, 133, 133);
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
}

.message-box {
  color: white;
  text-align: center;
  transition: opacity calc(200ms * var(--game-speed));
  opacity: 0.01;
  position: relative;
}

.message-box span.ship {
  color: rgb(255, 118, 118);
}

#model-load-progress-bar {
  width: 200%;
  position: relative;
  left: -50%;
  height: 20px;
}

/* Aside#health styling */

aside#health-container {
  background-color: rgba(255, 255, 255, 0.224);
  border-radius: 24px;
}

aside#health {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
  min-height: calc(100% - 24px);
  /* position: relative; */
}

/* Target the heading of the panel */
aside#health > :first-child {
  text-align: center;
  font-size: 2rem;
}

/* Target the add ship description */
aside#health > :nth-child(2) {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#addShipSelection {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}

#addShipSelection > label {
  cursor: pointer;
  position: relative;
  min-height: 6vh;
  display: flex;
  align-items: center;
}

#addShipSelection input[type='radio'] {
  appearance: none;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
}

#addShipSelection > label *:not(input) {
  pointer-events: none;
}

#addShipSelection img {
  transition: 100ms;
}

#addShipSelection > label:hover img {
  filter: invert(70%);
}

#addShipSelection input[type='radio']:checked + img {
  filter: invert(100%);
}

#addShipSelection label.ship-placed > img {
  filter: invert(70%);
}

#addShipSelection div.ship-placed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  color: rgb(19, 199, 19);
  font-size: 3rem;
  font-weight: bold;
}

.start-game-button {
  margin-top: 5vh;
  height: 48px;
  border-radius: 16px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  transition: background-color 500ms;
  animation: 1.3s linear 0s infinite alternate-reverse both running
    start-button-flash;
  cursor: pointer;
}

.start-game-button:hover {
  background-color: rgb(241, 0, 0);
  animation: none;
}

@keyframes start-button-flash {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgb(173, 0, 0);
  }
}

/* Ship Health Panel */

#health-box-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

#health .ship-health-container {
  display: grid;
  width: 100%;
  height: 7vh;
  background-color: rgb(226, 226, 226);
  position: relative;
  overflow: hidden;
}

#health .health-box {
  border: 1px solid rgb(20, 152, 18);
  background-color: rgb(208, 228, 208);
}

#health .ship-health-container img {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  z-index: 50;
}

@media screen and (max-height: 450px) {
  #health .ship-health-container {
    height: 4vh;
  }

  #health .ship-health-container img {
    top: 0px;
  }
}

#health .health-box.hit {
  border: 1px solid rgb(152, 18, 18);
  background-color: rgb(229, 141, 141);
}

/* Main styling */

main {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  perspective-origin: center center;
  transform-style: preserve-3d;
  transform-origin: center;
  position: relative;
  z-index: 10;
  bottom: 20px;
  transition: none;
}

#playerboard {
  /* using top, left, right, bottom position will squash this element */
  display: grid;
  position: absolute;
  background-color: rgba(0, 0, 255, var(--playerboard-opacity));
  background-image: url('./images/topographybg.png'),
    radial-gradient(
      circle,
      rgba(0, 78, 255, var(--playerboard-opacity)) 0%,
      rgba(0, 6, 120, var(--playerboard-opacity)) 26%,
      rgba(14, 31, 255, 0.4) 59%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, auto;
  /* height: 96%; */
  width: 800px;
  aspect-ratio: 1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  transform: rotateX(55deg);
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid rgb(0, 150, 53);
  z-index: 5;
  transition: none;
  /* top: 0px; */
  /* transition: 200ms; */
}

.cell {
  border: 1px solid rgba(102, 130, 255, var(--playerboard-opacity));
}

:not(.disable-hover, .hit, .miss) > .cell {
  cursor: pointer;
}

:not(.disable-hover, .hit, .miss) > .cell:hover {
  background-color: rgba(122, 122, 122, var(--playerboard-opacity));
}

.canplace {
  background-color: rgba(97, 216, 255, var(--playerboard-opacity));
}

.cannotplace {
  background-color: rgba(255, 0, 0, var(--playerboard-opacity));
}

.cell.hit {
  background-color: rgba(255, 0, 0, var(--playerboard-opacity));
}

.cell.miss {
  background-color: rgba(122, 122, 122, var(--playerboard-opacity));
}

.disable-hover {
  cursor: default;
  pointer-events: none;
}

/* Player Canvas */

#playercanvas {
  position: absolute;
  /* top: 0px;
  left: -50px;
  right: 50px;
  bottom: 0px; */
  /* transform: rotateX(55deg); */
  /* border: 2px solid red; */
  pointer-events: none;
  z-index: 100;
}

/* Section styling (enemy board) */

section {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#opponentboard {
  display: grid;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.643);
  background-image: url('./images/topographybg.png'),
    radial-gradient(
      circle,
      rgba(0, 78, 255, var(--playerboard-opacity)) 0%,
      rgba(0, 6, 120, var(--playerboard-opacity)) 26%,
      rgba(14, 31, 255, 0.5) 59%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, auto;
  width: 90%;
  aspect-ratio: 1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid rgb(0, 28, 47);
  box-shadow: 0 0 6px 6px transparent;
}

#opponentboard .ship-icon-container {
  position: absolute;
  z-index: 150;
  /* border: 1px solid red; */
  box-sizing: border-box;
  pointer-events: none;
  translate: -2px -2px;
  opacity: 0;
}

#opponentboard .ship-icon {
  width: 100%;
  height: 100%;
}

.ping-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0px, 0px);
  display: none;
  pointer-events: none;
  z-index: 200;
}

.ping-ring {
  position: absolute;
  inset: 0;
  transform: scale(4);
  background-image: radial-gradient(
    circle,
    rgba(255, 0, 0, 0) 49.9%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 0, 0, 1) 52%,
    rgba(255, 0, 0, 0.6) 52%,
    rgba(255, 0, 0, 0) 70%
  );
}

/* #opponentboard::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: scale(1);
  background-image: radial-gradient(
    circle,
    rgba(255, 0, 0, 0) 50%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 0, 0, 0) 70%
  );
} */

/* Aside stats styling */

aside#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 24px 12px 24px;
  background-color: rgba(255, 255, 255, 0.224);
  border-radius: 24px;
  min-width: fit-content;
  width: 60%;
}

#stats button {
  border-radius: 16px;
  background-color: rgb(233, 233, 233);
  color: black;
  padding: 6px 16px;
  border: 1px solid black;
  transition: 300ms;
}

#stats button:hover {
  background-color: rgb(37, 37, 37);
  color: white;
}

#gamespeed-container {
  display: flex;
  flex-direction: column;
  width: min(100%, 300px);
  font-size: 1.2rem;
}

#gamespeed-container datalist {
  display: flex;
  justify-content: space-between;
  width: min(100%, 300px);
  font-size: 1rem;
}

/* End game dialog */

#end-game-report-container {
  appearance: none;
  width: clamp(750px, 50%, 1700px);
  padding: 20px;
  border-radius: 24px;
  background-image: url('./images/soldier-silhouette.png'),
    radial-gradient(circle at 80% bottom, #ffe29f 0%, #4f280c 100%);
  background-repeat: no-repeat;
  background-position: right bottom, center;
  background-size: contain, 100%;
}

#end-game-report-container:focus-visible {
  outline: none;
}

#end-game-text-container {
  background-color: rgba(0, 0, 0, 0.398);
  color: white;
  padding: 16px;
  border-radius: 16px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#end-game-text-container h1,
#end-game-text-container h2 {
  text-align: center;
}

#end-game-text-container > :nth-child(2) {
  margin-bottom: 24px;
}

#end-game-text-container > :nth-child(3) {
  color: rgb(179, 186, 233);
  font-weight: normal;
}

#end-game-stats-container {
  display: grid;
  width: clamp(260px, 60%, 340px);
  height: 10rem;
  row-gap: 4px;
  column-gap: 12px;
  grid-template: repeat(5, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column;
  font-size: 1.2rem;
}

#end-game-stats-container > p {
  padding: 2px 10px 0px 10px;
}

#end-game-stats-container p:nth-child(1),
#end-game-stats-container p:nth-child(6) {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}

#end-game-stats-container p:nth-child(1) {
  color: rgb(75, 255, 75);
}

#end-game-stats-container p:nth-child(6) {
  color: rgb(255, 65, 65);
}

#end-game-text-container > :last-child {
  display: flex;
  gap: 16px;
}

#end-game-text-container button {
  padding: 6px 18px;
  border-radius: 12px;
  background-color: rgb(255, 238, 215);
  border: none;
  transition: 300ms;
}

#end-game-text-container button:hover {
  background-color: rgb(211, 254, 197);
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 500;
  display: none;
  align-items: center;
  justify-content: center;
}

#credits-container {
  background-color: rgb(37, 37, 37);
  color: rgb(222, 222, 222);
  padding: 16px 56px;
  border-radius: 16px;
  border: 1px solid rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: 0 0 1px 4px rgba(255, 255, 255, 0.348);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#credits-container > h1 {
  font-size: 1.6rem;
  text-align: center;
  width: 400px;
}

#credits-container > table {
  border-collapse: collapse;
  table-layout: fixed;
  /* border: 1px solid rgb(99, 99, 99); */
}

#credits-container th {
  font-weight: bold;
}

#credits-container th:nth-child(1) {
  width: 120px;
}

#credits-container th:nth-child(2) {
  width: 120px;
}

#credits-container th:nth-child(3) {
  width: auto;
}

#credits-container tr:hover td {
  background-color: rgb(27, 27, 56);
}

#credits-container td,
#credits-container th {
  background-color: rgb(0, 0, 0);
  padding: 6px 16px;
  font-size: 1rem;
  min-height: 3rem;
  border: 1px solid rgb(99, 99, 99);
  border-width: 1px 0;
  vertical-align: middle;
  transition: 100ms;
}

#credits-container > p {
  font-size: 1.2rem;
  color: rgb(159, 159, 159);
}

/* Animations */

.slide-in {
  animation: 800ms cubic-bezier(0.12, 1.07, 1, 1) 0s 1 normal forwards running
    slide-in-from-right;
}

.fade-in {
  animation: 400ms linear 0s 1 normal forwards running fade-in;
}

.fade-out {
  animation: 400ms linear 0s 1 normal forwards running fade-out;
}

.boardflash {
  animation: 1.6s linear 0s infinite alternate both running boardflash;
}

.boardping > div {
  animation: calc(800ms * var(--game-speed)) ease-out 0s 1 normal forwards
    running boardping;
}

@keyframes slide-in-from-right {
  100% {
    left: 0;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes boardflash {
  0% {
    box-shadow: 0 0 6px 6px transparent;
  }
  100% {
    /* box-shadow: 0 0 6px 6px #00e4ffde; */
    box-shadow: 0 0 6px 6px #d0faffde;
  }
}

@keyframes boardping {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}

/* @keyframes boardping {
  0% {
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 98%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  50% {
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 2%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  100% {
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 2%,
      rgba(0, 0, 0, 0) 4%
    );
  }
} */
